<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bncc.habith">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".HabithApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleNote"
        tools:ignore="AllowBackup">
        <activity android:name="com.bncc.habith.ui.view.detail.DetailActivity"
            android:exported="false"/>
        <activity
            android:name="com.bncc.habith.ui.view.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.bncc.habith.ui.view.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.bncc.habith.ui.view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.bncc.habith.ui.view.addedit.AddEditActivity"
            android:parentActivityName="com.bncc.habith.ui.view.detail.DetailActivity"
            android:exported="false">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bncc.habith.ui.view.detail.DetailActivity"/>
        </activity>
        <activity
            android:name="com.bncc.habith.ui.view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>